In [85]:
# dependencies
import pandas as pd

master_csv = "archive/Master.csv"
batting_csv = "archive/Batting.csv"

In [86]:
#read in csv files
master_df = pd.read_csv(master_csv)
#master_df.head()
batting_df = pd.read_csv(batting_csv)
batting_df.head()

#filter batting df 
filtered_batting_df = batting_df.loc[batting_df['yearID'] > 1999]
filtered_batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79248,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,29.0,2.0,1.0,21.0,38.0,1.0,2.0,2.0,1.0,2.0
79249,abbotku01,2000,1,NYN,NL,79,157.0,22.0,34.0,7.0,...,12.0,1.0,1.0,14.0,51.0,2.0,1.0,0.0,1.0,2.0
79250,abbotpa01,2000,1,SEA,AL,35,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
79251,abreubo01,2000,1,PHI,NL,154,576.0,103.0,182.0,42.0,...,79.0,28.0,8.0,100.0,116.0,9.0,1.0,0.0,3.0,12.0
79252,aceveju01,2000,1,MIL,NL,62,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:

merged_df = pd.merge(master_df, filtered_batting_df, on='playerID', how = "inner" )

print(merged_df)
#df.to_csv('df.csv')

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aardsda01     1981.0        12.0      27.0          USA         CO
2      aardsda01     1981.0        12.0      27.0          USA         CO
3      aardsda01     1981.0        12.0      27.0          USA         CO
4      aardsda01     1981.0        12.0      27.0          USA         CO
...          ...        ...         ...       ...          ...        ...
22079  zumayjo01     1984.0        11.0       9.0          USA         CA
22080  zuninmi01     1991.0         3.0      25.0          USA         FL
22081  zuninmi01     1991.0         3.0      25.0          USA         FL
22082  zuninmi01     1991.0         3.0      25.0          USA         FL
22083   zychto01     1990.0         8.0       7.0          USA         IL

         birthCity  deathYear  deathMonth  deathDay  ...   RBI   SB   CS  \
0           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
1           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
2           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
3           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
4           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
...            ...        ...         ...       ...  ...   ...  ...  ...
22079  Chula Vista        NaN         NaN       NaN  ...   0.0  0.0  0.0
22080   Cape Coral        NaN         NaN       NaN  ...  14.0  1.0  0.0
22081   Cape Coral        NaN         NaN       NaN  ...  60.0  0.0  3.0
22082   Cape Coral        NaN         NaN       NaN  ...  28.0  0.0  1.0
22083        Monee        NaN         NaN       NaN  ...   0.0  0.0  0.0

         BB     SO  IBB   HBP   SH   SF  GIDP
0       0.0    0.0  0.0   0.0  0.0  0.0   0.0
1       0.0    0.0  0.0   0.0  1.0  0.0   0.0
2       0.0    0.0  0.0   0.0  0.0  0.0   0.0
3       0.0    1.0  0.0   0.0  0.0  0.0   0.0
4       0.0    0.0  0.0   0.0  0.0  0.0   0.0
...     ...    ...  ...   ...  ...  ...   ...
22079   0.0    0.0  0.0   0.0  0.0  0.0   0.0
22080  16.0   49.0  0.0   3.0  0.0  1.0   5.0
22081  17.0  158.0  1.0  17.0  0.0  4.0  12.0
22082  21.0  132.0  0.0   5.0  8.0  2.0   6.0
22083   0.0    0.0  0.0   0.0  0.0  0.0   0.0

[22084 rows x 45 columns]

In [88]:
# drop columns
merged_df = merged_df.drop(['birthDay',
                            'birthMonth',
                            'deathDay',
                            'deathMonth',
                            'deathCountry',
                            'deathState',
                            'deathCity',
                            'weight',
                            'height',
                            'nameFirst',
                            'nameLast',
                            'bats',
                            'throws',
                            
                           ], axis=1)

merged_df

0        2004
1        2006
2        2007
3        2008
4        2009
         ...
22079    2010
22080    2013
22081    2014
22082    2015
22083    2015
Name: yearID, Length: 22084, dtype: int64

In [73]:
# rename headers to make them neat
merged_df = merged_df.rename(columns={'playerID': 'Player ID',
                                      'birthYear': 'Birth Year',
                                      'birthCountry': 'Birth Country',
                                      'birthState': 'Birth State',
                                      'birthCity': 'Birth City',
                                      'deathYear': 'Death Year',
                                      'nameGiven': 'Full Name',
                                      'weight': 'Weight',
                                      'height': 'Height',
                                      'bats': 'Bats',
                                      'throws': 'Throws',
                                      'debut': 'Debut Date',
                                      'finalGame': 'Date of Last Game',
                                      'retroID': 'Retro ID',
                                      'bbrefID': 'BBRef ID'
                                     })