In [77]:
# dependencies
import pandas as pd 
import numpy as np

master_csv = "archive/Master.csv"
batting_csv = "archive/Batting.csv"

In [78]:
#read in csv files
master_df = pd.read_csv(master_csv)
#master_df.head()
batting_df = pd.read_csv(batting_csv)
batting_df.head()

#filter batting df 
filtered_batting_df = batting_df.loc[batting_df['yearID'] > 1999]
filtered_batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79248,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,29.0,2.0,1.0,21.0,38.0,1.0,2.0,2.0,1.0,2.0
79249,abbotku01,2000,1,NYN,NL,79,157.0,22.0,34.0,7.0,...,12.0,1.0,1.0,14.0,51.0,2.0,1.0,0.0,1.0,2.0
79250,abbotpa01,2000,1,SEA,AL,35,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
79251,abreubo01,2000,1,PHI,NL,154,576.0,103.0,182.0,42.0,...,79.0,28.0,8.0,100.0,116.0,9.0,1.0,0.0,3.0,12.0
79252,aceveju01,2000,1,MIL,NL,62,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:

merged_df = pd.merge(master_df, filtered_batting_df, on='playerID', how = "inner" )

print(merged_df)
#df.to_csv('df.csv')

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aardsda01     1981.0        12.0      27.0          USA         CO
2      aardsda01     1981.0        12.0      27.0          USA         CO
3      aardsda01     1981.0        12.0      27.0          USA         CO
4      aardsda01     1981.0        12.0      27.0          USA         CO
...          ...        ...         ...       ...          ...        ...
22079  zumayjo01     1984.0        11.0       9.0          USA         CA
22080  zuninmi01     1991.0         3.0      25.0          USA         FL
22081  zuninmi01     1991.0         3.0      25.0          USA         FL
22082  zuninmi01     1991.0         3.0      25.0          USA         FL
22083   zychto01     1990.0         8.0       7.0          USA         IL

         birthCity  deathYear  deathMonth  deathDay  ...   RBI   SB   CS  \
0           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
1           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
2           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
3           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
4           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
...            ...        ...         ...       ...  ...   ...  ...  ...
22079  Chula Vista        NaN         NaN       NaN  ...   0.0  0.0  0.0
22080   Cape Coral        NaN         NaN       NaN  ...  14.0  1.0  0.0
22081   Cape Coral        NaN         NaN       NaN  ...  60.0  0.0  3.0
22082   Cape Coral        NaN         NaN       NaN  ...  28.0  0.0  1.0
22083        Monee        NaN         NaN       NaN  ...   0.0  0.0  0.0

         BB     SO  IBB   HBP   SH   SF  GIDP
0       0.0    0.0  0.0   0.0  0.0  0.0   0.0
1       0.0    0.0  0.0   0.0  1.0  0.0   0.0
2       0.0    0.0  0.0   0.0  0.0  0.0   0.0
3       0.0    1.0  0.0   0.0  0.0  0.0   0.0
4       0.0    0.0  0.0   0.0  0.0  0.0   0.0
...     ...    ...  ...   ...  ...  ...   ...
22079   0.0    0.0  0.0   0.0  0.0  0.0   0.0
22080  16.0   49.0  0.0   3.0  0.0  1.0   5.0
22081  17.0  158.0  1.0  17.0  0.0  4.0  12.0
22082  21.0  132.0  0.0   5.0  8.0  2.0   6.0
22083   0.0    0.0  0.0   0.0  0.0  0.0   0.0

[22084 rows x 45 columns]

In [80]:
# drop columns
merged_df = merged_df.drop(['birthDay',
                            'birthMonth',
                            'deathDay',
                            'deathMonth',
                            'deathCountry',
                            'deathState',
                            'deathCity',
                            'weight',
                            'height',
                            'nameFirst',
                            'nameLast',
                            'bats',
                            'throws',
                           ], axis=1)

merged_df
merged_df.dtypes

playerID         object
birthYear       float64
birthCountry     object
birthState       object
birthCity        object
deathYear       float64
nameGiven        object
debut            object
finalGame        object
retroID          object
bbrefID          object
yearID            int64
stint             int64
teamID           object
lgID             object
G                 int64
AB              float64
R               float64
H               float64
2B              float64
3B              float64
HR              float64
RBI             float64
SB              float64
CS              float64
BB              float64
SO              float64
IBB             float64
HBP             float64
SH              float64
SF              float64
GIDP            float64
dtype: object

In [52]:
# rename headers to make them neat
merged_df = merged_df.rename(columns={'playerID': 'Player ID',
                                      'birthYear': 'Birth Year',
                                      'birthCountry': 'Birth Country',
                                      'birthState': 'Birth State',
                                      'birthCity': 'Birth City',
                                      'deathYear': 'Death Year',
                                      'nameGiven': 'Full Name',
                                      'weight': 'Weight',
                                      'height': 'Height',
                                      'bats': 'Bats',
                                      'throws': 'Throws',
                                      'debut': 'Debut Date',
                                      'finalGame': 'Date of Last Game',
                                      'retroID': 'Retro ID',
                                      'bbrefID': 'BBRef ID'
                                     })
merged_df['teamID'].nunique()

33

In [46]:
teams_grouped_df = merged_df.groupby('teamID').agg({'AB': ['mean'],'R': ['mean'],'H': ['mean'],'2B': ['mean'],
                                                    '3B': ['mean'],'HR': ['mean'],'RBI': ['mean'],'SB': ['mean'],
                                                    'CS': ['mean'],'BB': ['mean'],'SO': ['mean'],'IBB': ['mean'],
                                                    'HBP': ['mean'],'SH': ['mean'],'SF': ['mean'],'GIDP': ['mean'],
                                                   })
teams_grouped_df.head()

,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
teamID,,,,,,,,,,,,,,,,
ANA,137.348039,19.500000,37.745098,7.181373,0.794118,4.205882,18.529412,2.931373,1.284314,12.205882,22.598039,1.000000,1.602941,1.215686,1.230392,2.882353
ARI,119.492578,15.627530,30.792173,6.384615,0.852901,3.524966,14.932524,1.879892,0.817814,11.609987,24.951417,1.039136,1.040486,1.249663,0.986505,2.578947
ATL,124.286920,16.576653,32.471167,6.417722,0.587904,3.735584,15.793249,1.766526,0.769339,12.351617,25.606188,1.053446,1.070323,1.554149,0.935302,2.949367
BAL,117.786280,15.441953,30.915567,6.085752,0.449868,3.708443,14.741425,1.907652,0.778364,9.953826,22.014512,0.630607,1.135884,0.705805,0.935356,2.798153
BOS,113.811869,16.804293,30.974747,6.840909,0.560606,3.768939,16.023990,1.625000,0.570707,11.945707,22.467172,0.881313,1.200758,0.502525,1.063131,2.662879

In [62]:
#grouped by teams and sorted average runs of a player on team between 2000-2015
teams_grouped_runs = merged_df.groupby('teamID').agg({'R': ['mean','max','min','std','var']})
teams_grouped_runs.columns = ['Runs Average', 'Runs Max', 'Runs Min', 'Runs STD', 'Runs Var']
teams_grouped_runs = teams_grouped_runs.reset_index()
teams_grouped_runs.sort_values(by=['Runs Average'],ascending=False)
print(teams_grouped_runs)
teams_grouped_runs.to_csv('output/Average_Runs_by_Team')

   teamID  Runs Average  Runs Max  Runs Min   Runs STD     Runs Var
0     ANA     19.500000     124.0       0.0  31.844527  1014.073892
1     ARI     15.627530     128.0       0.0  25.891645   670.377295
2     ATL     16.576653     130.0       0.0  27.812642   773.543060
3     BAL     15.441953     111.0       0.0  26.466273   700.463601
4     BOS     16.804293     123.0       0.0  29.122711   848.132320
5     CHA     18.394856     121.0       0.0  29.114922   847.678701
6     CHN     15.296496     146.0       0.0  25.310828   640.638017
7     CIN     15.570659     107.0       0.0  25.471194   648.781726
8     CLE     15.922280     134.0       0.0  27.052414   731.833122
9     COL     16.321839     138.0       0.0  27.405520   751.062528
10    DET     16.841958     122.0       0.0  27.614978   762.587033
11    FLO     16.402985     125.0       0.0  28.542114   814.652253
12    HOU     16.182720     152.0       0.0  26.768443   716.549545
13    KCA     15.334661     136.0       0.0  25.425780   646.470300
14    LAA     16.657948     129.0       0.0  27.942764   780.798087
15    LAN     15.135207     121.0       0.0  25.054240   627.714938
16    MIA     12.268041      94.0       0.0  20.546682   422.166124
17    MIL     16.179632     113.0       0.0  26.710127   713.430859
18    MIN     17.447717     112.0       0.0  26.863357   721.639962
19    MON     15.302632     112.0       0.0  25.649632   657.903605
20    NYA     17.326873     143.0       0.0  31.485357   991.327686
21    NYN     14.534884     127.0       0.0  24.368308   593.814435
22    OAK     16.541724     109.0       0.0  26.790345   717.722572
23    PHI     16.928068     139.0       0.0  28.872047   833.595101
24    PIT     14.604307     116.0       0.0  24.214664   586.349954
25    SDN     13.439601     108.0       0.0  22.541838   508.134440
26    SEA     16.101140     134.0       0.0  26.923250   724.861368
27    SFN     16.281250     129.0       0.0  25.871614   669.340416
28    SLN     17.925980     137.0       0.0  28.976314   839.626780
29    TBA     15.904300     110.0       0.0  25.642261   657.525551
30    TEX     16.315394     133.0       0.0  28.303018   801.060803
31    TOR     16.792173     122.0       0.0  28.027882   785.562155
32    WAS     14.217143     119.0       0.0  24.292793   590.139782

In [63]:
#grouped by teams and sorted average stikeout of a player on team between 2000-2015
teams_grouped_SO = merged_df.groupby('teamID').agg({'SO': ['mean','max','min','std','var']})
teams_grouped_SO.columns = ['Strike Out Average', 'Strike Out Max', 'Strike Out Min', 'Strike Out STD', 'Strike Out Var']
teams_grouped_SO = teams_grouped_SO.reset_index()
teams_grouped_SO.sort_values(by=['Strike Out Average'],ascending=False)
print(teams_grouped_SO)
teams_grouped_runs.to_csv('output/Average_SO_by_Team')
#teams_grouped_SO['teamID'].nunique()

   teamID  Strike Out Average  Strike Out Max  Strike Out Min  Strike Out STD  \
0     ANA           22.598039           181.0             0.0       35.590933
1     ARI           24.951417           223.0             0.0       35.735822
2     ATL           25.606188           173.0             0.0       35.936833
3     BAL           22.014512           208.0             0.0       35.250656
4     BOS           22.467172           187.0             0.0       35.974762
5     CHA           25.741301           222.0             0.0       38.418484
6     CHN           25.438005           199.0             0.0       35.690048
7     CIN           26.061911           205.0             0.0       37.044723
8     CLE           23.699482           185.0             0.0       37.370239
9     COL           23.750958           145.0             0.0       32.902056
10    DET           24.497902           181.0             0.0       38.385753
11    FLO           26.343284           187.0             0.0       38.231925
12    HOU           26.215297           212.0             0.0       36.257575
13    KCA           20.988048           141.0             0.0       32.701521
14    LAA           23.323944           184.0             0.0       37.192200
15    LAN           23.100402           170.0             0.0       31.497084
16    MIA           25.922680           170.0             0.0       36.386942
17    MIL           27.561528           188.0             0.0       38.995461
18    MIN           25.033873           148.0             0.0       35.872279
19    MON           22.535088           161.0             0.0       30.428129
20    NYA           22.381137           195.0             0.0       37.073693
21    NYN           22.976744           161.0             0.0       31.685624
22    OAK           23.633379           197.0             0.0       35.728538
23    PHI           25.888575           199.0             0.0       38.060467
24    PIT           25.215343           186.0             0.0       34.076882
25    SDN           23.557908           160.0             0.0       33.094515
26    SEA           25.014245           176.0             0.0       36.812163
27    SFN           23.633523           147.0             0.0       30.586897
28    SLN           24.407837           167.0             0.0       32.989701
29    TBA           25.676838           182.0             0.0       38.877152
30    TEX           21.976220           162.0             0.0       34.721819
31    TOR           23.375169           159.0             0.0       36.149833
32    WAS           25.495238           199.0             0.0       38.005906

    Strike Out Var
0      1266.714479
1      1277.048988
2      1291.455962
3      1242.608772
4      1294.183497
5      1475.979943
6      1273.779552
7      1372.311526
8      1396.534734
9      1082.545316
10     1473.466032
11     1461.680067
12     1314.611737
13     1069.389485
14     1383.259768
15      992.066314
16     1324.009535
17     1520.645997
18     1286.820385
19      925.871010
20     1374.458686
21     1003.978760
22     1276.528419
23     1448.599149
24     1161.233888
25     1095.246954
26     1355.135317
27      935.558249
28     1088.320345
29     1511.432921
30     1205.604697
31     1306.810410
32     1444.448928

In [64]:
#grouped by teams and sorted average runs of a player on team between 2000-2015
teams_grouped_HR = merged_df.groupby('teamID').agg({'HR': ['mean','max','min','std','var']})
teams_grouped_HR.columns = ['Home Runs Average', 'Home Runs Max', 'Home Runs Min', 'Home Runs STD', 'Home Runs Var']
teams_grouped_HR = teams_grouped_HR.reset_index()
teams_grouped_HR.sort_values(by=['Home Runs Average'],ascending=False)
print(teams_grouped_HR)
teams_grouped_runs.to_csv('output/Average_Home_Runs_by_Team')

   teamID  Home Runs Average  Home Runs Max  Home Runs Min  Home Runs STD  \
0     ANA           4.205882           47.0            0.0       8.711397
1     ARI           3.524966           57.0            0.0       7.073245
2     ATL           3.735584           51.0            0.0       7.738898
3     BAL           3.708443           53.0            0.0       7.449040
4     BOS           3.768939           54.0            0.0       7.915540
5     CHA           4.742814           44.0            0.0       9.086310
6     CHN           3.738544           64.0            0.0       7.791417
7     CIN           3.909825           46.0            0.0       7.671574
8     CLE           3.564767           52.0            0.0       7.134411
9     COL           3.559387           49.0            0.0       7.376345
10    DET           3.763636           44.0            0.0       7.307670
11    FLO           3.649254           34.0            0.0       7.721321
12    HOU           3.828612           47.0            0.0       7.803278
13    KCA           2.784861           33.0            0.0       5.638388
14    LAA           3.527163           41.0            0.0       7.287844
15    LAN           3.244980           49.0            0.0       6.778788
16    MIA           2.443299           37.0            0.0       5.772849
17    MIL           4.021216           50.0            0.0       8.150382
18    MIN           3.360825           35.0            0.0       6.531589
19    MON           3.359649           44.0            0.0       7.171440
20    NYA           4.312661           54.0            0.0       8.876786
21    NYN           3.152455           41.0            0.0       6.600405
22    OAK           3.645691           43.0            0.0       7.100379
23    PHI           3.892807           58.0            0.0       8.136013
24    PIT           3.152086           38.0            0.0       6.408364
25    SDN           2.770859           41.0            0.0       5.824944
26    SEA           3.438746           44.0            0.0       6.881602
27    SFN           3.438920           73.0            0.0       7.280146
28    SLN           3.898403           49.0            0.0       8.303201
29    TBA           3.560333           46.0            0.0       6.689920
30    TEX           3.987484           57.0            0.0       8.421678
31    TOR           4.090418           54.0            0.0       8.452006
32    WAS           3.169524           46.0            0.0       6.752426

    Home Runs Var
0       75.888438
1       50.030795
2       59.890549
3       55.488198
4       62.655772
5       82.561028
6       60.706178
7       58.853044
8       50.899821
9       54.410471
10      53.402037
11      59.618803
12      60.891152
13      31.791419
14      53.112668
15      45.951969
16      33.325784
17      66.428728
18      42.661649
19      51.429554
20      78.797330
21      43.565343
22      50.415389
23      66.194708
24      41.067135
25      33.929973
26      47.356442
27      53.000531
28      68.943152
29      44.755035
30      70.924655
31      71.436408
32      45.595253

In [95]:
# create column for batting average
#drop columns with 0 at bats
batting_average = merged_df.loc[(merged_df['AB'] !=0)]
#batting_average = merged_df.loc[(merged_df['AB'] != 0).all(axis=1)]
batting_average['Batting Average'] = batting_average["H"]/batting_average["AB"]
#print(batting_average)
grouped_by_teams= batting_average.groupby('teamID').agg({'Batting Average': ['mean','max','min','std','var']})
grouped_by_teams.columns = ['Batting Average', 'Batting Average Max', 'Batting Average Min', 'Batting Average STD', 'Batting Average Var']
grouped_by_teams = grouped_by_teams.reset_index()
grouped_by_teams.sort_values(by=['Batting Average'],ascending=False)
print(grouped_by_teams)
grouped_by_teams.to_csv('output/Batting_Average_by_Team')

   teamID  Batting Average  Batting Average Max  Batting Average Min  \
0     ANA         0.228559             0.666667                  0.0
1     ARI         0.198841             1.000000                  0.0
2     ATL         0.192625             1.000000                  0.0
3     BAL         0.206991             1.000000                  0.0
4     BOS         0.209437             1.000000                  0.0
5     CHA         0.214098             1.000000                  0.0
6     CHN         0.192790             1.000000                  0.0
7     CIN         0.185980             1.000000                  0.0
8     CLE         0.218099             1.000000                  0.0
9     COL         0.200627             1.000000                  0.0
10    DET         0.207646             1.000000                  0.0
11    FLO         0.183223             1.000000                  0.0
12    HOU         0.188280             1.000000                  0.0
13    KCA         0.217972             1.000000                  0.0
14    LAA         0.203513             0.666667                  0.0
15    LAN         0.190965             1.000000                  0.0
16    MIA         0.177643             1.000000                  0.0
17    MIL         0.181898             1.000000                  0.0
18    MIN         0.219808             1.000000                  0.0
19    MON         0.185523             1.000000                  0.0
20    NYA         0.202226             1.000000                  0.0
21    NYN         0.190548             1.000000                  0.0
22    OAK         0.198441             1.000000                  0.0
23    PHI         0.195659             1.000000                  0.0
24    PIT         0.185652             1.000000                  0.0
25    SDN         0.181412             1.000000                  0.0
26    SEA         0.213966             1.000000                  0.0
27    SFN         0.201778             1.000000                  0.0
28    SLN         0.205951             1.000000                  0.0
29    TBA         0.204572             1.000000                  0.0
30    TEX         0.215698             1.000000                  0.0
31    TOR         0.200821             1.000000                  0.0
32    WAS         0.192648             1.000000                  0.0

    Batting Average STD  Batting Average Var
0              0.130628             0.017064
1              0.127631             0.016290
2              0.133141             0.017726
3              0.136254             0.018565
4              0.130816             0.017113
5              0.127552             0.016270
6              0.137145             0.018809
7              0.122998             0.015129
8              0.143266             0.020525
9              0.146150             0.021360
10             0.123574             0.015271
11             0.133393             0.017794
12             0.142185             0.020217
13             0.143728             0.020658
14             0.113899             0.012973
15             0.133156             0.017730
16             0.125909             0.015853
17             0.139117             0.019354
18             0.134703             0.018145
19             0.145468             0.021161
20             0.137221             0.018830
21             0.137550             0.018920
22             0.129370             0.016736
23             0.120769             0.014585
24             0.135233             0.018288
25             0.122632             0.015039
26             0.137593             0.018932
27             0.140190             0.019653
28             0.150869             0.022761
29             0.122217             0.014937
30             0.138010             0.019047
31             0.135884             0.018465
32             0.138930             0.019301

/Users/deliahellander/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """