In [1]:
# dependencies
import pandas as pd

master_csv = "archive/Master.csv"
batting_csv = "archive/Batting.csv"

In [2]:
#read in csv files
master_df = pd.read_csv(master_csv)
#master_df.head()
batting_df = pd.read_csv(batting_csv)
batting_df.head()

#filter batting df 
filtered_batting_df = batting_df.loc[batting_df['yearID'] > 1999]
filtered_batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79248,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,29.0,2.0,1.0,21.0,38.0,1.0,2.0,2.0,1.0,2.0
79249,abbotku01,2000,1,NYN,NL,79,157.0,22.0,34.0,7.0,...,12.0,1.0,1.0,14.0,51.0,2.0,1.0,0.0,1.0,2.0
79250,abbotpa01,2000,1,SEA,AL,35,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
79251,abreubo01,2000,1,PHI,NL,154,576.0,103.0,182.0,42.0,...,79.0,28.0,8.0,100.0,116.0,9.0,1.0,0.0,3.0,12.0
79252,aceveju01,2000,1,MIL,NL,62,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:

merged_df = pd.merge(master_df, filtered_batting_df, on='playerID', how = "inner" )

print(merged_df)
#df.to_csv('df.csv')

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aardsda01     1981.0        12.0      27.0          USA         CO
2      aardsda01     1981.0        12.0      27.0          USA         CO
3      aardsda01     1981.0        12.0      27.0          USA         CO
4      aardsda01     1981.0        12.0      27.0          USA         CO
...          ...        ...         ...       ...          ...        ...
22079  zumayjo01     1984.0        11.0       9.0          USA         CA
22080  zuninmi01     1991.0         3.0      25.0          USA         FL
22081  zuninmi01     1991.0         3.0      25.0          USA         FL
22082  zuninmi01     1991.0         3.0      25.0          USA         FL
22083   zychto01     1990.0         8.0       7.0          USA         IL

         birthCity  deathYear  deathMonth  deathDay  ...   RBI   SB   CS  \
0           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
1           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
2           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
3           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
4           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
...            ...        ...         ...       ...  ...   ...  ...  ...
22079  Chula Vista        NaN         NaN       NaN  ...   0.0  0.0  0.0
22080   Cape Coral        NaN         NaN       NaN  ...  14.0  1.0  0.0
22081   Cape Coral        NaN         NaN       NaN  ...  60.0  0.0  3.0
22082   Cape Coral        NaN         NaN       NaN  ...  28.0  0.0  1.0
22083        Monee        NaN         NaN       NaN  ...   0.0  0.0  0.0

         BB     SO  IBB   HBP   SH   SF  GIDP
0       0.0    0.0  0.0   0.0  0.0  0.0   0.0
1       0.0    0.0  0.0   0.0  1.0  0.0   0.0
2       0.0    0.0  0.0   0.0  0.0  0.0   0.0
3       0.0    1.0  0.0   0.0  0.0  0.0   0.0
4       0.0    0.0  0.0   0.0  0.0  0.0   0.0
...     ...    ...  ...   ...  ...  ...   ...
22079   0.0    0.0  0.0   0.0  0.0  0.0   0.0
22080  16.0   49.0  0.0   3.0  0.0  1.0   5.0
22081  17.0  158.0  1.0  17.0  0.0  4.0  12.0
22082  21.0  132.0  0.0   5.0  8.0  2.0   6.0
22083   0.0    0.0  0.0   0.0  0.0  0.0   0.0

[22084 rows x 45 columns]

In [4]:
# drop columns
merged_df = merged_df.drop(['birthDay',
                            'birthMonth',
                            'deathDay',
                            'deathMonth',
                            'deathCountry',
                            'deathState',
                            'deathCity',
                            'weight',
                            'height',
                            'nameFirst',
                            'nameLast',
                            'bats',
                            'throws',
                            
                           ], axis=1)

merged_df

,playerID,birthYear,birthCountry,birthState,birthCity,deathYear,nameGiven,debut,finalGame,retroID,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981.0,USA,CO,Denver,NaN,David Allan,2004-04-06,2015-08-23,aardd001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,1981.0,USA,CO,Denver,NaN,David Allan,2004-04-06,2015-08-23,aardd001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,1981.0,USA,CO,Denver,NaN,David Allan,2004-04-06,2015-08-23,aardd001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,1981.0,USA,CO,Denver,NaN,David Allan,2004-04-06,2015-08-23,aardd001,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,1981.0,USA,CO,Denver,NaN,David Allan,2004-04-06,2015-08-23,aardd001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22079,zumayjo01,1984.0,USA,CA,Chula Vista,NaN,Joel Martin,2006-04-03,2010-06-28,zumaj001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22080,zuninmi01,1991.0,USA,FL,Cape Coral,NaN,Michael Accorsi,2013-06-12,2015-08-27,zunim001,...,14.0,1.0,0.0,16.0,49.0,0.0,3.0,0.0,1.0,5.0
22081,zuninmi01,1991.0,USA,FL,Cape Coral,NaN,Michael Accorsi,2013-06-12,2015-08-27,zunim001,...,60.0,0.0,3.0,17.0,158.0,1.0,17.0,0.0,4.0,12.0
22082,zuninmi01,1991.0,USA,FL,Cape Coral,NaN,Michael Accorsi,2013-06-12,2015-08-27,zunim001,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
22083,zychto01,1990.0,USA,IL,Monee,NaN,Anthony Aaron,2015-09-04,2015-10-03,zycht001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# rename headers to make them neat
merged_df = merged_df.rename(columns={'playerID': 'Player ID',
                                      'birthYear': 'Birth Year',
                                      'birthCountry': 'Birth Country',
                                      'birthState': 'Birth State',
                                      'birthCity': 'Birth City',
                                      'deathYear': 'Death Year',
                                      'nameGiven': 'Full Name',
                                      'weight': 'Weight',
                                      'height': 'Height',
                                      'bats': 'Bats',
                                      'throws': 'Throws',
                                      'debut': 'Debut Date',
                                      'finalGame': 'Date of Last Game',
                                      'retroID': 'Retro ID',
                                      'bbrefID': 'BBRef ID'
                                     })

In [23]:
teams_grouped_df = merged_df.groupby('teamID').agg({'AB': ['mean'],'R': ['mean'],'H': ['mean'],'2B': ['mean'],
                                                    '3B': ['mean'],'HR': ['mean'],'RBI': ['mean'],'SB': ['mean'],
                                                    'CS': ['mean'],'BB': ['mean'],'SO': ['mean'],'IBB': ['mean'],
                                                    'HBP': ['mean'],'SH': ['mean'],'SF': ['mean'],'GIDP': ['mean'],
                                                   })
teams_grouped_df.head()
#teams_grouped_df.sort_values(by=['HR'])

,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
teamID,,,,,,,,,,,,,,,,
ANA,137.348039,19.500000,37.745098,7.181373,0.794118,4.205882,18.529412,2.931373,1.284314,12.205882,22.598039,1.000000,1.602941,1.215686,1.230392,2.882353
ARI,119.492578,15.627530,30.792173,6.384615,0.852901,3.524966,14.932524,1.879892,0.817814,11.609987,24.951417,1.039136,1.040486,1.249663,0.986505,2.578947
ATL,124.286920,16.576653,32.471167,6.417722,0.587904,3.735584,15.793249,1.766526,0.769339,12.351617,25.606188,1.053446,1.070323,1.554149,0.935302,2.949367
BAL,117.786280,15.441953,30.915567,6.085752,0.449868,3.708443,14.741425,1.907652,0.778364,9.953826,22.014512,0.630607,1.135884,0.705805,0.935356,2.798153
BOS,113.811869,16.804293,30.974747,6.840909,0.560606,3.768939,16.023990,1.625000,0.570707,11.945707,22.467172,0.881313,1.200758,0.502525,1.063131,2.662879

In [27]:
teams_grouped_runs = merged_df.groupby('teamID').agg({'R': ['mean','max','min']})
teams_grouped_runs.head()

                R
             mean    max  min
teamID
ANA     19.500000  124.0  0.0
ARI     15.627530  128.0  0.0
ATL     16.576653  130.0  0.0
BAL     15.441953  111.0  0.0
BOS     16.804293  123.0  0.0