In [2]:
# dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

master_csv = "archive/Master.csv"
salaries_csv = "archive/Salaries.csv"
teams_csv = "archive/Teams.csv"

In [3]:
#read in csv files
master_df = pd.read_csv(master_csv)
#master_df.head()
salaries_df = pd.read_csv(salaries_csv)
#salaries_df.head()
teams_df = pd.read_csv(teams_csv)
#teams_df

#filter batting df 
#filtered_batting_df = batting_df.loc[batting_df['yearID'] > 1999]
#filtered_batting_df
# Combine the data into a single dataset
bball_data_merge = pd.merge(master_df, salaries_df, how="left", on="playerID")

# Display the data table for preview
bball_data_merge.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,salary
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2004.0,SFN,NL,300000.0
1,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2007.0,CHA,AL,387500.0
2,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2008.0,BOS,AL,403250.0
3,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2009.0,SEA,AL,419000.0
4,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2010.0,SEA,AL,2750000.0

In [4]:
list(bball_data_merge.columns)

['playerID',
 'birthYear',
 'birthMonth',
 'birthDay',
 'birthCountry',
 'birthState',
 'birthCity',
 'deathYear',
 'deathMonth',
 'deathDay',
 'deathCountry',
 'deathState',
 'deathCity',
 'nameFirst',
 'nameLast',
 'nameGiven',
 'weight',
 'height',
 'bats',
 'throws',
 'debut',
 'finalGame',
 'retroID',
 'bbrefID',
 'yearID',
 'teamID',
 'lgID',
 'salary']

In [5]:
#drop unneed columns
cleaned_df = bball_data_merge.drop(['birthMonth',
                                     'birthDay',
                                    'deathMonth',
                                     'deathDay',
                                     'deathCountry',
                                     'deathState',
                                     'deathCity'
                                     
                                    ], axis = 1)
cleaned_df

,playerID,birthYear,birthCountry,birthState,birthCity,deathYear,nameFirst,nameLast,nameGiven,weight,...,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,salary
0,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2004.0,SFN,NL,300000.0
1,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2007.0,CHA,AL,387500.0
2,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2008.0,BOS,AL,403250.0
3,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2009.0,SEA,AL,419000.0
4,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2010.0,SEA,AL,2750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39450,zupofr01,1939.0,USA,CA,San Francisco,2005.0,Frank,Zupo,Frank Joseph,182.0,...,L,R,1957-07-01,1961-05-09,zupof101,zupofr01,NaN,NaN,NaN,NaN
39451,zuvelpa01,1958.0,USA,CA,San Mateo,NaN,Paul,Zuvella,Paul,173.0,...,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01,1989.0,ATL,NL,145000.0
39452,zuverge01,1924.0,USA,MI,Holland,2014.0,George,Zuverink,George,195.0,...,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01,NaN,NaN,NaN,NaN
39453,zwilldu01,1888.0,USA,MO,St. Louis,1978.0,Dutch,Zwilling,Edward Harrison,160.0,...,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01,NaN,NaN,NaN,NaN
39454,zychto01,1990.0,USA,IL,Monee,NaN,Tony,Zych,Anthony Aaron,190.0,...,R,R,2015-09-04,2015-10-03,zycht001,zychto01,NaN,NaN,NaN,NaN

In [6]:
list(cleaned_df.columns)

['playerID',
 'birthYear',
 'birthCountry',
 'birthState',
 'birthCity',
 'deathYear',
 'nameFirst',
 'nameLast',
 'nameGiven',
 'weight',
 'height',
 'bats',
 'throws',
 'debut',
 'finalGame',
 'retroID',
 'bbrefID',
 'yearID',
 'teamID',
 'lgID',
 'salary']

In [7]:
cleaned_df = cleaned_df.rename(columns={'playerID': 'Player ID',
                                         'birthYear': 'Birth Year',
                                         'birthCountry': 'Birth Country',
                                         'birthState': 'Birth State',
                                         'birthCity': 'Birth City',
                                         'deathYear': "Death Year",
                                         'nameFirst': 'First Name',
                                         'nameLast': 'Last Name',
                                         'nameGiven': 'Full Name',
                                         'weight': 'Weight',
                                         'height': 'Height',
                                         'bats': 'Bats',
                                         'throws': 'Throws',
                                         'debut': 'Debut Date',
                                         'finalGame': 'Date of Last Game',
                                         'retroID': 'Retro ID',
                                         'bbrefID': 'BBRef ID',
                                         'yearID': 'Year ID',
                                         'teamID': 'Team ID',
                                         'lgID': 'League',
                                         'salary':'Salary'
                                     })
cleaned_df

,Player ID,Birth Year,Birth Country,Birth State,Birth City,Death Year,First Name,Last Name,Full Name,Weight,...,Bats,Throws,Debut Date,Date of Last Game,Retro ID,BBRef ID,Year ID,Team ID,League,Salary
0,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2004.0,SFN,NL,300000.0
1,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2007.0,CHA,AL,387500.0
2,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2008.0,BOS,AL,403250.0
3,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2009.0,SEA,AL,419000.0
4,aardsda01,1981.0,USA,CO,Denver,NaN,David,Aardsma,David Allan,220.0,...,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2010.0,SEA,AL,2750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39450,zupofr01,1939.0,USA,CA,San Francisco,2005.0,Frank,Zupo,Frank Joseph,182.0,...,L,R,1957-07-01,1961-05-09,zupof101,zupofr01,NaN,NaN,NaN,NaN
39451,zuvelpa01,1958.0,USA,CA,San Mateo,NaN,Paul,Zuvella,Paul,173.0,...,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01,1989.0,ATL,NL,145000.0
39452,zuverge01,1924.0,USA,MI,Holland,2014.0,George,Zuverink,George,195.0,...,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01,NaN,NaN,NaN,NaN
39453,zwilldu01,1888.0,USA,MO,St. Louis,1978.0,Dutch,Zwilling,Edward Harrison,160.0,...,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01,NaN,NaN,NaN,NaN
39454,zychto01,1990.0,USA,IL,Monee,NaN,Tony,Zych,Anthony Aaron,190.0,...,R,R,2015-09-04,2015-10-03,zycht001,zychto01,NaN,NaN,NaN,NaN